<!DOCTYPE html>
<html>
<head>

    <title>Flight TT Sun</title>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    {% block topbar %}
        <div id="top-nav">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Логотип">
            </div>
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'accessories' %}">Комплектующие</a>
            <a href="#">Конструктор</a>
            <div class="right">
                <a href="#">Регистрация</a>
                <a href="#">Войти</a>
            </div>
        </div>
    {% endblock %}

    <div class="line"></div>

    <div class="basic"></div>
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}

</body>
</html>