{% extends "base.html" %}

{% block content %}
    <div class="main">
        <h1>Главная страница</h1>
            <p>Добро пожаловать в Flight to the Sun. Сайт предназначен
               для предоставления актуальной информации о компьютерных
               комплектующих, их характеристик и совместимости компонентов.</p>

        <h3>На сайте представлено следующее количество комплектующих:</h3>

        <ul>
            <li><strong>Количество материнских плат: </strong>{{ num_matherboard }}</li>
            <li><strong>Количество видеокарт: </strong>{{ num_videcard }}</li>
            <li><strong>Количество модулей оперативной памяти: </strong>{{ num_ram }}</li>
            <li><strong>Количество центральных процессоров: </strong>{{ num_cpu }}</li>
            <li><strong>Количество блоков питания: </strong>{{ num_powerunit }}</li>
        </ul>
    </div>

{% endblock %}