{% extends "catalog/accessories.html" %}

{% load static %}

{% block content %}
    <div class="header">
        <h1>Материнские платы</h1>
    </div>
    {% if motherboard_list %}
        <div class="motherboard_list">
            <div class="grid-container">
                {% for motherboard in motherboard_list %}
                    <div class="grid-item">
                        <div class="card">
                            <a href="{{ motherboard.get_absolute_url }}">
                                <img src="{% static 'img/motherboard/'|add:motherboard.name|add:'.png' %}" alt="{{ motherboard.name }}">
                                <p>{{ motherboard.name }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}