{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="main">
        <h1>Конструктор системного блока</h1>
        <div class="constructor">
            {% if cpu_list %}
                {% for cpu in cpu_list %}
                    <div class="component">
                        <div class="photo-component">
                            <img src="{% static 'img/cpu/'|add:cpu.name|add:'.png' %}" alt="{{ cpu.name }}">
                        </div>
                        <div class="description">
                            <h3>Процессор: {{ cpu.name }}</h3>
                            <div class="description">
                                <p><strong>Сокет:</strong> {{ cpu.socket_cpu }}</p>
                                <p><strong>Количество ядер:</strong> {{ cpu.nuclei }}</p>
                                <p><strong>Тактовая частота:</strong> {{ cpu.clock_frequency }}</p>
                                <form method="POST" action="{% url 'constructor' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="cpu_id" value="{{ cpu.id }}">
                                    <button type="submit" class="add-component-btn">Выбрать</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}