{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="main">
        <h1>Конструктор системного блока</h1>
        <div class="constructor">
            {% if powerunit_list %}
                {% for powerunit in powerunit_list %}
                    <div class="component">
                        <div class="photo-component">
                            <img src="{% static 'img/powerunit/'|add:powerunit.name|add:'.png' %}" alt="{{ powerunit.name }}">
                        </div>
                        <div class="description">
                            <h3>Блок питания: {{ powerunit.name }}</h3>
                            <div class="description">
                                <p><strong>Мощность:</strong> {{ powerunit.power }}</p>
                                <p><strong>Стандарт эффективности:</strong> {{ powerunit.efficiency_standard }}</p>
                                <p><strong>Тип разъёма для мат. платы:</strong> {{ powerunit.motherboard_connector_type }}</p>
                                <p><strong>Количество разъёмов 4+4pin CPU':</strong> {{ powerunit.quantityCPU }}</p>
                                <p><strong>Количество разъёмов PCI-E:</strong> {{ powerunit.quantityPCI_E }}</p>
                                <form method="POST" action="{% url 'constructor' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="powerunit_id" value="{{ powerunit.id }}">
                                    <button type="submit" class="add-component-btn">Выбрать</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}