{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="main">
        <h1>Конструктор системного блока</h1>
        <div class="constructor">
            {% if ram_list %}
                {% for ram in ram_list %}
                    <div class="component">
                        <div class="photo-component">
                            <img src="{% static 'img/ram/'|add:ram.name|add:'.png' %}" alt="{{ ram.name }}">
                        </div>
                        <div class="description">
                            <h3>Видеокарта: {{ ram.name }}</h3>
                            <div class="description">
                                <p><strong>Объём:</strong> {{ ram.memory }}</p>
                                <p><strong>Тип оперативной памяти:</strong> {{ ram.type }}</p>
                                <p><strong>Тактовая частота:</strong> {{ ram.clock_frequency }}</p>
                                <form method="POST" action="{% url 'constructor' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="ram_id" value="{{ ram.id }}">
                                    <input type="hidden" name="type_ram" value="{{ ram.type }}">
                                    <button type="submit" class="add-component-btn">Выбрать</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="line"></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}